  0.00% {
    background-position: 0.00% 0.0000%;
  }

  1.25% {
    background-position: 25.00% 0.0000%;
  }

  2.50% {
    background-position: 50.00% 0.0000%;
  }

  3.75% {
    background-position: 75.00% 0.0000%;
  }

  5.00% {
    background-position: 100.00% 0.0000%;
  }

  6.25% {
    background-position: 0.00% 6.6667%;
  }

  7.50% {
    background-position: 25.00% 6.6667%;
  }

  8.75% {
    background-position: 50.00% 6.6667%;
  }

  10.00% {
    background-position: 75.00% 6.6667%;
  }

  11.25% {
    background-position: 100.00% 6.6667%;
  }

  12.50% {
    background-position: 0.00% 13.3333%;
  }

  13.75% {
    background-position: 25.00% 13.3333%;
  }

  15.00% {
    background-position: 50.00% 13.3333%;
  }

  16.25% {
    background-position: 75.00% 13.3333%;
  }

  17.50% {
    background-position: 100.00% 13.3333%;
  }

  18.75% {
    background-position: 0.00% 20.0000%;
  }

  20.00% {
    background-position: 25.00% 20.0000%;
  }

  21.25% {
    background-position: 50.00% 20.0000%;
  }

  22.50% {
    background-position: 75.00% 20.0000%;
  }

  23.75% {
    background-position: 100.00% 20.0000%;
  }

  25.00% {
    background-position: 0.00% 26.6667%;
  }

  26.25% {
    background-position: 25.00% 26.6667%;
  }

  27.50% {
    background-position: 50.00% 26.6667%;
  }

  28.75% {
    background-position: 75.00% 26.6667%;
  }

  30.00% {
    background-position: 100.00% 26.6667%;
  }

  31.25% {
    background-position: 0.00% 33.3333%;
  }

  32.50% {
    background-position: 25.00% 33.3333%;
  }

  33.75% {
    background-position: 50.00% 33.3333%;
  }

  35.00% {
    background-position: 75.00% 33.3333%;
  }

  36.25% {
    background-position: 100.00% 33.3333%;
  }

  37.50% {
    background-position: 0.00% 40.0000%;
  }

  38.75% {
    background-position: 25.00% 40.0000%;
  }

  40.00% {
    background-position: 50.00% 40.0000%;
  }

  41.25% {
    background-position: 75.00% 40.0000%;
  }

  42.50% {
    background-position: 100.00% 40.0000%;
  }

  43.75% {
    background-position: 0.00% 46.6667%;
  }

  45.00% {
    background-position: 25.00% 46.6667%;
  }

  46.25% {
    background-position: 50.00% 46.6667%;
  }

  47.50% {
    background-position: 75.00% 46.6667%;
  }

  48.75% {
    background-position: 100.00% 46.6667%;
  }

  50.00% {
    background-position: 0.00% 53.3333%;
  }

  51.25% {
    background-position: 25.00% 53.3333%;
  }

  52.50% {
    background-position: 50.00% 53.3333%;
  }

  53.75% {
    background-position: 75.00% 53.3333%;
  }

  55.00% {
    background-position: 100.00% 53.3333%;
  }

  56.25% {
    background-position: 0.00% 60.0000%;
  }

  57.50% {
    background-position: 25.00% 60.0000%;
  }

  58.75% {
    background-position: 50.00% 60.0000%;
  }

  60.00% {
    background-position: 75.00% 60.0000%;
  }

  61.25% {
    background-position: 100.00% 60.0000%;
  }

  62.50% {
    background-position: 0.00% 66.6667%;
  }

  63.75% {
    background-position: 25.00% 66.6667%;
  }

  65.00% {
    background-position: 50.00% 66.6667%;
  }

  66.25% {
    background-position: 75.00% 66.6667%;
  }

  67.50% {
    background-position: 100.00% 66.6667%;
  }

  68.75% {
    background-position: 0.00% 73.3333%;
  }

  70.00% {
    background-position: 25.00% 73.3333%;
  }

  71.25% {
    background-position: 50.00% 73.3333%;
  }

  72.50% {
    background-position: 75.00% 73.3333%;
  }

  73.75% {
    background-position: 100.00% 73.3333%;
  }

  75.00% {
    background-position: 0.00% 80.0000%;
  }

  76.25% {
    background-position: 25.00% 80.0000%;
  }

  77.50% {
    background-position: 50.00% 80.0000%;
  }

  78.75% {
    background-position: 75.00% 80.0000%;
  }

  80.00% {
    background-position: 100.00% 80.0000%;
  }

  81.25% {
    background-position: 0.00% 86.6667%;
  }

  82.50% {
    background-position: 25.00% 86.6667%;
  }

  83.75% {
    background-position: 50.00% 86.6667%;
  }

  85.00% {
    background-position: 75.00% 86.6667%;
  }

  86.25% {
    background-position: 100.00% 86.6667%;
  }

  87.50% {
    background-position: 0.00% 93.3333%;
  }

  88.75% {
    background-position: 25.00% 93.3333%;
  }

  90.00% {
    background-position: 50.00% 93.3333%;
  }

  91.25% {
    background-position: 75.00% 93.3333%;
  }

  92.50% {
    background-position: 100.00% 93.3333%;
  }

  93.75% {
    background-position: 0.00% 100.0000%;
  }

  95.00% {
    background-position: 25.00% 100.0000%;
  }

  96.25% {
    background-position: 50.00% 100.0000%;
  }

  97.50% {
    background-position: 75.00% 100.0000%;
  }

  98.75% {
    background-position: 100.00% 100.0000%;
  }

  100% {
    background-position: 100% 100%;
  }

